//font-family: 'Open Sans', sans-serif;
//font-family: 'Oswald', sans-serif;
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style-type: none;
}
body {
  font-family: 'Oswald', sans-serif;
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}
header {
  background-image: url("img/pumpkins.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 190px 0 320px;
}
.invite {
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.inv-comment {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.numbers {
  background-color: #F7F7F7;
  padding: 57px 0;
  margin: -160px auto 100px;
}
.numbers__wrap {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 765px;
  margin: 0 auto;
}
.numbers__item {
  & h2 {
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
  }
  & h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  & p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
  }
}
.page-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #404149;
}
.parties {
  margin-bottom: 103px;
  .page-heading {
    margin-bottom: 49px;
  }
}

.party {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .party__item {
    flex-basis: 31.5%;
    max-width: 31.5%;
    & img {
      width: 100%;
      margin-bottom: 40px;
    }
    & a {
      display: block;
      text-decoration: none;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #404149;
      position: relative;
      padding-top: 20px;
      &:hover {
        color: #F7654A;
      }
      &::before {
        content: '';
        position: absolute;
        background-color: #F7654A;
        left: 0;
        top: 0;
        height: 6px;
        width: 55px;
      }
    }
  }
}

.subscribe {
  background-color: #F7654A;
  padding: 30px 0 40px;
  .subscribe-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .subscribe-box__item h3 {
      font-weight: bold;
      font-size: 48px;
      line-height: 78px;
      letter-spacing: 0.02em;
      color: #FFFFFF;
    }
    .subscribe-box__item p {
      font-size: 24px;
      line-height: 35px;
      letter-spacing: 0.1125rem;;
      color: #FFFFFF;
    }
    .subscribe-box__button {
      padding: 15px 30px 13px 60px;
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -1px;
      color: #000000;
      background-color: #FFFFFF;
      background-image: url(img/envelope.png);
      background-repeat: no-repeat;
      background-size: 23px;
      background-position: 26px 13px;
    }
  }
}

.services {
  margin-bottom: 145px;
  .page-heading {
    margin-top: 150px;
    margin-bottom: 66px;
  }
}

.services-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  &__item {
    text-align: center;
    background-color: #F7F7F7;
    padding-top: 16%;
    padding-bottom: 17%;
  }
  &__item img {
    margin-bottom: 10px;
  }
  &__item a {
    display: block;
    text-decoration: none;
    max-width: 135px;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 0 auto;
    &:hover {
      color: #F7654A;
    }
  }
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 114px;
  &__item {
    position: relative;
  }
  &__item:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
  &__item img {
    width: 100%;
    height: 100%;
  }
}

.reviews .page-heading {
  margin-bottom: 64px;
}

.feedback {
  display: flex;
  justify-content: space-between;
  margin-bottom: 145px;
  .feedback__item {
    flex-basis: 31.5%;
    max-width: 31.5%;
  }
  .feedback__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    background-color: #F7F7F7;
    height: 81%;
    padding: 30px 30px 35px 30px;
    margin-bottom: 30px;
    &::before {
      content: '';
      display: block;
      width: 34px;
      height: 28px;
      background-image: url(img/quote.png);
      margin-bottom: 20px;
    }
  }
  .feedback__name {
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #000000;
  }
}

.contact .page-heading {
  margin-top: 100px;
  margin-bottom: 60px;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 150px;
    div {
    text-align: center;
    img {
      margin-bottom: 12px;
    }
      &:last-child img {
        margin-top: 12px;
      }
    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #999999;
      margin-bottom: 20px;
    }
    ul > li {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #000000;
    }
    &:last-child ul >li {
      color: #F7654A;
    }
  }
}

footer {
  background-color: #404149;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    a {
      text-decoration: none;
      color: #F7654A;
    }
  }
}